@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
/* Toastr package doesn't provide styles with plain CSS*/
@import "toastr.css";
@import "nav.css";

body, html, .main-container, .row, .navigation {
    height: 100%;
}

#open-add-tab {
    color: #adb5bd;
    border: none;
}

#open-add-tab:hover {
    color: #28a745;
}